Version #fe6618e3 <br>
Date: 2022.10.04 <br>
Environment: MacOS 12.5.1, Swift 5.7. Performed by: Sandu Crucerescu <br>

| Case                       | Result | Note |
|----------------------------|--------|------|
| test_CreateMember          | ok     |      |
| test_createMemberDuplicate | ok     |      |
| test_checkArray            | ok     |      |
| test_checkItems            | ok     |      |
| test_checkItemsNil         | ok     |      |
| test_checkContractFree     | ok     |      |
| test_CreateItem            | ok     |      |
| test_DeleteItem            | ok     |      |
| test_CreateContract        | ok     |      |
| test_CreateContract2       | ok     |      |
| test_CreateContract3       | ok     |      |
| test_AdvanceTime           | ok     |      |
